.container {
  margin: 0 15px;
}
.event-list-title {
  margin-left: 0;
}
.hero {
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 2em;
}
.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  max-width: initial;
}
.portfolio {
  padding: 1.2rem 0;
}
h1 {
  position: relative;
  z-index: 2;
}
