:root {
  --background-hero: #1d252c;
  --background-card: #f4fbff;
  --background-project: white;
  --background: #fafafa;
  --box-shadow: 1px 1px 10px 1px lightgrey;
}

:root.dark {
  --background-hero: #252b43;
  --background-card: #252b43;
  --background-project: #252b43;
  --background: #1d2029;
  --font-color: white;
  --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

/* Media Queries Mixin
**********************/
* {
  transition: 0.3s ease all;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  outline: none;
  height: 45px;
  border-radius: 50%;
  z-index: 4;
  position: fixed;
  left: 5px;
  top: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #171717;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tech-link.js {
  color: #000000;
  background-color: #f7df1e;
}

.tech-link.html {
  color: #ffffff;
  background-color: #ff4500;
}

.tech-link.css {
  color: #ffffff;
  background-color: #1f5faa;
}

.tech-link.nodejs {
  color: #659a60;
  background-color: #f7f7f7;
  border: 1px solid;
}

.tech-link.angular {
  color: #fff;
  background-color: #dd0031;
}

.tech-link.react {
  color: #03d6f6;
  background-color: #232325;
}

.tech-link.svelte {
  color: #f73c00;
  background-color: #fff;
  border: 1px solid;
}

.tech-link.vue {
  color: #fff;
  background: linear-gradient(90deg, #00b37b 0%, #2d465c 100%);
}

.container {
  margin: 0 15px;
  max-width: 1024px;
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
}

.link-container {
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  color: inherit;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.logo__image {
  border-radius: 50%;
  margin: 5px 0;
}
.logo__text {
  color: white;
  margin-left: 10px;
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
}

.nav {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #171717;
  transition: 0.3s;
  color: #fff;
}
.nav.is-active {
  left: 0;
}
.nav__list {
  width: 100%;
}
.nav__link {
  align-items: center;
  height: 40px;
  border-bottom: 1px solid;
  font-size: 1.5em;
  padding: 0.5em 0;
  display: flex;
  color: var(--color);
}

.dark-mode {
  padding: 0.5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}
.dark-mode__text {
  margin: 0;
  padding-right: 10px;
}

.switch {
  background: #5f616d;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 5px;
  width: 80px;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 5px;
  left: 5px;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active::after {
  right: 5px;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}

.switch--dark-mode.active {
  background-image: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.header {
  background-color: var(--background-hero);
}

.hero {
  background-color: var(--background-hero);
  box-shadow: inset 0px 4px 7px 0px black;
  transition: 0.3s ease all;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;
}
.hero__image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
.hero__title {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
}
.hero__title__strong {
  color: #026fff;
}

.portfolio {
  padding: 1.2rem 0;
}
.portfolio__title {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}

.project,
.event {
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
}

.project {
  background-color: var(--background-project);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.project:hover {
  box-shadow: 1px 1px 10px 1px var(--principal-color);
  cursor: pointer;
}

.project-title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 0.4em 0;
}

.project-course {
  font-family: var(--font-title);
}

.tech-link {
  margin-right: 5px;
  padding: 0px 3%;
  color: var(--font-color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
}

.project strong {
  font-family: var(--font-title);
  color: var(--principal-color);
}

.project-link {
  color: var(--font-color);
}

.project-link:hover {
  color: var(--principal-color);
}

.project-description {
  font-size: 0.8em;
}

.project-image-container {
  display: flex;
}

.project-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.project:last-child {
  margin-bottom: 0;
}

/*----------------------------------------PROJECTS*/
.skills-section {
  display: flex;
  margin-top: 20px;
}

.container#skill {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  grid-template-areas: "links1" "img" "link2";
  margin-bottom: 20px;
}

.skills-links {
  margin-top: 10px;
  width: 100%;
  height: 33vh;
}

.skill-link-container {
  display: flex;
  justify-content: space-around;
  height: calc(100% / 6);
}

.skill-link {
  height: fit-content;
  padding: 0px 3%;
  color: var(--color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
}

.skill-image-container {
  grid-area: img;
  margin: 0 auto;
  height: 33vh;
}

.skill-image {
  height: 100%;
}

.contact {
  padding: 1.5em 0;
  background-color: var(--principal-color);
  color: var(--color);
}

.email {
  text-align: center;
}

.email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.email a {
  margin: 1em auto 1em;
  width: 171px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url(../images/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: block;
  background-color: var(--color);
  color: gray;
}

.email a:hover {
  background-image: url(../images/envelope-hover.svg);
  color: var(--color);
  background-color: transparent;
  border-color: var(--color);
}

.social {
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link:hover {
  opacity: 0.7;
}

.social-link.twitter {
  background-image: url(../images/twitter.svg);
}

.social-link.facebook {
  background-image: url(../images/facebook.svg);
}

.social-link.github {
  background-image: url(../images/github.svg);
}

.social-link.instagram {
  background-image: url(../images/instagram.svg);
}

/*----------------------------------------CONTACT*/
/*----------------------------------------FOOOTER*/
.footer {
  text-align: center;
  border: 1px solid transparent;
  color: var(--color);
  background-color: var(--background-hero);
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/
.none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
