:root {
  --background-hero: #1d252c;
  --background-card: #f4fbff;
  --background-project: white;
  --background: #fafafa;
  --box-shadow: 1px 1px 10px 1px lightgrey;
}

:root.dark {
  --background-hero: #252b43;
  --background-card: #252b43;
  --background-project: #252b43;
  --background: #1d2029;
  --font-color: white;
  --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

/* Media Queries Mixin
**********************/
* {
  transition-property: background-color, color;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

.title {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}
@media only screen and (min-width: 767px) {
  .title {
    margin-top: 0.83em;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1023px) {
  .title {
    margin-left: 20px;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  outline: none;
  height: 45px;
  border-radius: 50%;
  z-index: 4;
  position: fixed;
  left: 5px;
  top: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: #171717;
  border: 0;
  margin: 0;
  overflow: visible;
}
@media only screen and (min-width: 767px) {
  .hamburger {
    display: none;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tech-button, .tech-button--skill, .tech-button--vue, .tech-button--sass, .tech-button--svelte, .tech-button--react, .tech-button--angular, .tech-button--nodejs, .tech-button--css, .tech-button--html, .tech-button--js {
  padding: 0px 3%;
  color: white;
  background-color: #026fff;
  border-radius: 10px;
  text-align: center;
}

.tech-button--js {
  color: #000000;
  background-color: #f7df1e;
}

.tech-button--html {
  background-color: #ff4500;
}

.tech-button--css {
  background-color: #1f5faa;
}

.tech-button--nodejs {
  color: #659a60;
  background-color: #f7f7f7;
  border: 1px solid;
}

.tech-button--angular {
  background-color: #dd0031;
}

.tech-button--react {
  color: #03d6f6;
  background-color: #232325;
}

.tech-button--svelte {
  color: #f73c00;
  background-color: #fff;
  border: 1px solid;
}

.tech-button--sass {
  color: #fff;
  background-color: #bf608f;
  text-transform: uppercase;
}

.tech-button--vue {
  background: linear-gradient(90deg, #00b37b 0%, #2d465c 100%);
}

.tech-button--skill {
  height: fit-content;
}

.container--size, .container--link {
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  color: inherit;
}

.container--size {
  margin: 0 15px;
  max-width: 1024px;
}
@media only screen and (min-width: 1023px) {
  .container--size {
    margin: 0 auto;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.logo__image {
  border-radius: 50%;
  margin: 5px 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.logo__text {
  color: white;
  margin-left: 10px;
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
}

.nav {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #171717;
  transition: 0.3s;
  color: #fff;
}
.nav.is-active {
  left: 0;
}
.nav__list {
  width: 100%;
}
@media only screen and (min-width: 767px) {
  .nav__list {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    align-items: center;
  }
}
.nav__link {
  align-items: center;
  height: 40px;
  border-bottom: 1px solid;
  font-size: 1.5em;
  padding: 0.5em 0;
  display: flex;
  color: var(--color);
}
@media only screen and (min-width: 767px) {
  .nav__link {
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  .nav__link:hover {
    opacity: 0.7;
    transition-duration: 0s;
  }
}
@media only screen and (min-width: 767px) {
  .nav {
    box-sizing: initial;
    padding: initial;
    position: initial;
    width: initial;
    display: flex;
    align-items: center;
    background-color: initial;
  }
}

.button--email, .button--url {
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  opacity: 1;
}

@media only screen and (min-width: 767px) {
  .button--header {
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    height: initial;
    padding: 10px 20px;
    margin: 14px 0;
  }
  .button--header:hover {
    color: var(--background-hero);
    background-color: #fff;
    opacity: 1;
  }
}

.button--url {
  padding: 5px 20px;
  color: #026fff;
}
.button--url:hover {
  color: var(--background);
  background-color: #026fff;
  opacity: 1;
}

.button--email {
  margin: 1em auto 1em;
  width: 171px;
  color: gray;
  padding: 10px 20px 10px 25px;
  background-color: white;
  background-image: url(../images/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: block;
  color: gray;
}
.button--email:hover {
  color: #fff;
  background-color: transparent;
  opacity: 1;
}
.button--email:hover {
  background-image: url(../images/envelope-hover.svg);
}

.dark-mode, .dark-mode--header {
  padding: 0.5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}
.dark-mode__text {
  margin: 0;
  padding-right: 10px;
}

@media only screen and (min-width: 767px) {
  .dark-mode--header .dark-mode__text {
    margin: 0;
    padding: 10px 10px 10px 20px;
    margin-left: 10px;
    border-left: 1px solid;
  }
}
@media only screen and (min-width: 767px) {
  .dark-mode--header {
    font-size: 1rem;
    border: none;
  }
}

.switch {
  background: #5f616d;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 5px;
  width: 80px;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 5px;
  left: 5px;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active::after {
  right: 5px;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}

.switch--dark-mode.active {
  background-image: linear-gradient(to right, #026fff 0%, #000 100%);
}

.project {
  background-color: var(--background-project);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}
.project:hover {
  box-shadow: 1px 1px 10px 1px #026fff;
}
@media only screen and (min-width: 767px) {
  .project__details {
    width: 50%;
  }
}
.project__title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 767px) {
  .project__title {
    font-size: 30px;
  }
}
.project__date, .project__url, .project__tech {
  margin: 0.4em 0;
}
@media only screen and (min-width: 767px) {
  .project__date, .project__url, .project__tech {
    margin: 10px 0;
  }
}
.project__tech {
  font-family: "Fjalla One", sans-serif;
}
.project__tech .tech-button, .project__tech .tech-button--js, .project__tech .tech-button--html, .project__tech .tech-button--css, .project__tech .tech-button--nodejs, .project__tech .tech-button--angular, .project__tech .tech-button--react, .project__tech .tech-button--svelte, .project__tech .tech-button--sass, .project__tech .tech-button--vue, .project__tech .tech-button--skill {
  margin-right: 5px;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
  color: #026fff;
}
.project__link {
  color: var(--font-color);
  transition: none;
}
.project__link:hover {
  color: #026fff;
}
.project__description {
  font-size: 0.8em;
}
@media only screen and (min-width: 767px) {
  .project__description {
    font-size: 1.25rem;
  }
}
.project__image__container {
  margin: 0;
  display: flex;
}
@media only screen and (min-width: 767px) {
  .project__image__container {
    width: 50%;
  }
}
.project__image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 767px) {
  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project {
  background-color: var(--background-project);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}
.project:hover {
  box-shadow: 1px 1px 10px 1px #026fff;
}
@media only screen and (min-width: 767px) {
  .project__details {
    width: 50%;
  }
}
.project__title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 767px) {
  .project__title {
    font-size: 30px;
  }
}
.project__date, .project__url, .project__tech {
  margin: 0.4em 0;
}
@media only screen and (min-width: 767px) {
  .project__date, .project__url, .project__tech {
    margin: 10px 0;
  }
}
.project__tech {
  font-family: "Fjalla One", sans-serif;
}
.project__tech .tech-button, .project__tech .tech-button--js, .project__tech .tech-button--html, .project__tech .tech-button--css, .project__tech .tech-button--nodejs, .project__tech .tech-button--angular, .project__tech .tech-button--react, .project__tech .tech-button--svelte, .project__tech .tech-button--sass, .project__tech .tech-button--vue, .project__tech .tech-button--skill {
  margin-right: 5px;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
  color: #026fff;
}
.project__link {
  color: var(--font-color);
  transition: none;
}
.project__link:hover {
  color: #026fff;
}
.project__description {
  font-size: 0.8em;
}
@media only screen and (min-width: 767px) {
  .project__description {
    font-size: 1.25rem;
  }
}
.project__image__container {
  margin: 0;
  display: flex;
}
@media only screen and (min-width: 767px) {
  .project__image__container {
    width: 50%;
  }
}
.project__image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 767px) {
  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.social {
  text-align: center;
}
.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.social__link:hover {
  opacity: 0.7;
}
.social__link--twitter {
  background-image: url(../images/twitter.svg);
}
.social__link--facebook {
  background-image: url(../images/facebook.svg);
}
.social__link--github {
  background-image: url(../images/github.svg);
}
.social__link--instagram {
  background-image: url(../images/instagram.svg);
}

.event {
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  width: auto;
  flex-shrink: initial;
  margin: 0 0 20px 0;
  border-radius: 10px;
  overflow: hidden;
}
.event__image-container {
  font-size: 0;
}
.event__image-container .event__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.event__detail {
  margin: -40px 20px 0 20px;
  background-color: var(--background);
  position: relative;
  padding: 20px;
  text-align: center;
}
@media only screen and (min-width: 767px) {
  .event__detail {
    margin: -40px 40px 20px 40px;
  }
}
.event__description {
  text-align: left;
}
.event__url {
  color: #026fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.event__url:hover {
  opacity: 0.7;
}
@media only screen and (min-width: 767px) {
  .event {
    margin: 1%;
    max-width: 48%;
    flex-shrink: 0;
  }
}

.header {
  background-color: var(--background-hero);
}
@media only screen and (min-width: 767px) {
  .header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.hero {
  background-color: var(--background-hero);
  box-shadow: inset 0px 4px 7px 0px black;
  transition: 0.3s ease all;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;
}
.hero__image {
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
@media only screen and (min-width: 1023px) {
  .hero__image {
    position: unset;
  }
}
.hero__title {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
}
.hero__title__strong {
  color: #026fff;
}
@media only screen and (min-width: 375px) {
  .hero__title {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 767px) {
  .hero__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 767px) {
  .hero {
    padding: 2em;
  }
}
@media only screen and (min-width: 1023px) {
  .hero {
    height: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: unset;
  }
}

.portfolio {
  padding: 1.2rem 0;
}
.portfolio__title {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}
@media only screen and (min-width: 767px) {
  .portfolio__title {
    margin-top: 0.83em;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1023px) {
  .portfolio {
    padding: 20px;
  }
}

.project:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 767px) {
  .events {
    display: flex;
    flex-wrap: wrap;
  }
}

.skills {
  margin-top: 20px;
}
@media only screen and (min-width: 767px) {
  .skills {
    display: flex;
  }
}
.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 33vh;
}
.skills__container .tech-button, .skills__container .tech-button--js, .skills__container .tech-button--html, .skills__container .tech-button--css, .skills__container .tech-button--nodejs, .skills__container .tech-button--angular, .skills__container .tech-button--react, .skills__container .tech-button--svelte, .skills__container .tech-button--sass, .skills__container .tech-button--vue, .skills__container .tech-button--skill {
  margin: auto 20px;
}
@media only screen and (min-width: 767px) {
  .skills__container {
    width: 40%;
    height: 80%;
    margin-top: 10px;
  }
}
.skills__image {
  display: flex;
  margin: 0 auto;
  height: 33vh;
  justify-content: center;
}
@media only screen and (min-width: 767px) {
  .skills__image {
    width: 20%;
  }
}
@media only screen and (min-width: 1023px) {
  .skills__image {
    height: unset;
  }
}
.skills__image__img {
  height: 100%;
}
@media only screen and (min-width: 767px) {
  .skills__image__img {
    width: 110%;
    height: 100%;
    object-fit: cover;
  }
}

.contact {
  padding: 1.5em 0;
  background-color: #026fff;
  color: white;
}
.contact__email {
  text-align: center;
}
.contact__email__title {
  font-family: "Source Sans Pro", sans-serif;
}
@media only screen and (min-width: 767px) {
  .contact__email .button--email {
    margin: unset;
  }
}
@media only screen and (min-width: 767px) {
  .contact__email {
    text-align: unset;
  }
}
@media only screen and (min-width: 767px) {
  .contact {
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer {
  text-align: center;
  color: white;
  background-color: var(--background-hero);
  display: inline-block;
}
.footer__text {
  margin: 16px 0;
}
@media only screen and (min-width: 767px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/
.none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
