:root {
  --principal-color: #026fff;
  --principal-color-opacity: #026fffdb;
  --background-hero: #1d252c;
  --background-card: #f4fbff;
  --background-project: white;
  --background: #fafafa;
  --font-color: black;
  --color: white;
  --font-title: "Fjalla One", sans-serif;
  --font-regular: "Source Sans Pro", sans-serif;
  --box-shadow: 1px 1px 10px 1px lightgrey;
}

:root.dark {
  --background-hero: #252b43;
  --background-card: #252b43;
  --background-project: #252b43;
  --background: #1d2029;
  --font-color: white;
  --color: white;
  --font-title: "Fjalla One", sans-serif;
  --font-regular: "Source Sans Pro", sans-serif;
  --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-regular);
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: normal;
}

h1 {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: var(--color);
  margin: 0;
  position: relative;
  z-index: 2;
}

h1 strong {
  color: var(--principal-color);
}
h2 {
  color: var(--principal-color);
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*----------------------------------------HEADER*/
/*------------------ burger button*/

.hamburger {
  display: inline-block;
}

/*------------------ burger button*/

.header {
  background-color: var(--background-hero);
  color: var(--color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  margin: 5px 0;
}

.logo span {
  margin-left: 10px;
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
}

figure {
  margin: 0;
}

.menu {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #171717;
  transition: 0.3s;
}
.menu.is-active {
  left: 0;
}

.header ol {
  width: 100%;
}

.header a {
  align-items: center;
  height: 40px;
  border-bottom: 1px solid;
  font-size: 1.5em;
  padding: 0.5em 0;
  display: flex;
  color: var(--color);
}

.header ol li#li-switch {
  padding: 0.5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid;
}

.dark-paragraph {
  margin: 0;
  padding-right: 10px;
}

/*----------------------------------------HEADER*/

/*----------------------------------------HERO*/

.hero {
  background-color: var(--background-hero);
  box-shadow: inset 0px 4px 7px 0px black;
  transition: 0.3s ease all;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

/*----------------------------------------HERO*/

/*----------------------------------------PORTFOLIO*/

.portfolio {
  padding: 1.2rem 0;
}

/*----------------------------------------PROJECTS*/

.project,
.event {
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  transition: 0.3s ease all;
}

.project {
  background-color: var(--background-project);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.project:hover {
  box-shadow: 1px 1px 10px 1px var(--principal-color);
  cursor: pointer;
}

.project-title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 0.4em 0;
}

.project-course {
  font-family: var(--font-title);
}

.tech-link {
  margin-right: 5px;
  padding: 0px 3%;
  color: var(--font-color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
}

.project strong {
  font-family: var(--font-title);
  color: var(--principal-color);
}

.project-link {
  color: var(--font-color);
}

.project-link:hover {
  color: var(--principal-color);
}

.project-description {
  font-size: 0.8em;
}

.project-image-container {
  display: flex;
}

.project-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.project:last-child {
  margin-bottom: 0;
}

/*----------------------------------------PROJECTS*/
/*----------------------------------------PORTFOLIO*/

/*----------------------------------------EVENTS*/
.event {
  width: auto;
  flex-shrink: initial;
  margin: 0 0 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.event-imageContainer {
  font-size: 0;
}

.event-detail {
  margin: -40px 20px 0 20px;
  background-color: var(--background);
  position: relative;
  padding: 20px;
  text-align: center;
}

.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-description {
  text-align: left;
}

.event-url {
  color: var(--principal-color);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/*----------------------------------------EVENTS*/

/*----------------------------------------SKILLS*/

.skills-section {
  display: flex;
  margin-top: 20px;
}

.container#skill {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "links1"
    "img"
    "link2";
  margin-bottom: 20px;
}

.skills-links {
  margin-top: 10px;
  width: 100%;
  height: 33vh;
}

.skill-link-container {
  display: flex;
  justify-content: space-around;
  height: calc(100% / 6);
}

.skill-link {
  height: fit-content;
  padding: 0px 3%;
  color: var(--color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
}

.skill-image-container {
  grid-area: img;
  margin: 0 auto;
  height: 33vh;
}

.skill-image {
  height: 100%;
}

/*----------------------------------------SKILLS*/

/*----------------------------------------CONTACT*/

.contact {
  padding: 1.5em 0;
  background-color: var(--principal-color);
  color: var(--color);
}

.email {
  text-align: center;
}

.email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.email a {
  margin: 1em auto 1em;
  width: 171px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url(../images/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: block;
  background-color: var(--color);
  color: gray;
}

.email a:hover {
  background-image: url(../images/envelope-hover.svg);
  color: var(--color);
  background-color: transparent;
  border-color: var(--color);
}

.social {
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link:hover {
  opacity: 0.7;
}

.social-link.twitter {
  background-image: url(../images/twitter.svg);
}
.social-link.facebook {
  background-image: url(../images/facebook.svg);
}
.social-link.github {
  background-image: url(../images/github.svg);
}
.social-link.instagram {
  background-image: url(../images/instagram.svg);
}

/*----------------------------------------CONTACT*/

/*----------------------------------------FOOOTER*/

.footer {
  text-align: center;
  border: 1px solid transparent;
  color: var(--color);
  background-color: var(--background-hero);
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/

/*----------------------------------------CONTAINER*/
.container {
  margin: 0 15px;
  max-width: 1024px;
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
}

.project .link-container {
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  color: inherit;
}
/*----------------------------------------CONTAINER*/

/*----------------------------------------NONE*/

.none {
  display: none !important;
}
