h2 {
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}
.logo {
  text-align: center;
}
.header {
  height: auto;
  display: block;
}
.header ol {
  width: 100%;
  display: block;
}

.header ol li .border {
  border-radius: unset;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin: 0;
  padding: 0.5em 0;
}

.header ol li#li-switch {
  padding: 0.5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid;
}

.dark-paragraph {
  padding: 0;
  border-left: 0;
  margin: 0;
  padding-right: 10px;
}

.header a {
  align-items: center;
  /* justify-content: center; */
  height: 40px;
  border: 0;
  border-bottom: 1px solid;
  font-size: 1.5em;
  /* text-decoration: underline; */
  padding: 0.5em 0;
}

.header a:hover,
.header ol li .border:hover {
  color: var(--principal-color);
  opacity: 1;
  border-color: var(--color);
}

.header ol li .border:hover {
  background-color: unset;
}

.burger-menu {
  display: block;
}
.menu {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #171717;
  justify-content: center;
  transition: 0.3s;
}
.menu.is-active {
  left: 0;
}

/*------------------------------------------------------------*/
.container#skill {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "links1"
    "img"
    "link2";
  margin-bottom: 20px;
}
.skill-image-container {
  grid-area: img;
  margin: 0 auto;
  min-width: 100px;
}
.skill-image {
  width: 100%;
}

.skills-links {
  margin-top: 20px;
  width: 100%;
  height: 33vh;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2em;
  }
}
