.hamburger {
  display: none;
}

.header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu {
  box-sizing: initial;
  padding: initial;
  position: initial;
  width: initial;
  display: flex;
  align-items: center;
  background-color: initial;
  transition: 0.3s;
}

.header ol {
  display: flex;
  height: inherit;
  flex-wrap: wrap;
  align-items: center;
}

.header a {
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header ol li .border {
  height: initial;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 14px 0;
}

.header ol li#li-switch {
  font-size: 1rem;
  border: none;
}

.dark-paragraph {
  margin: 0;
  padding: 10px 10px 10px 20px;
  margin-left: 10px;
  border-left: 1px solid;
}

.header ol li .border:hover {
  color: var(--background-hero);
  background-color: var(--color);
  opacity: 1;
}

.header a:hover,
.event-url:hover {
  opacity: 0.7;
}

.hero {
  padding: 2em;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 0.83em;
  margin-bottom: 40px;
  font-size: 1.5rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-details,
.project-image-container {
  width: 50%;
}

.project-title {
  font-size: 30px;
}

.project-description {
  font-size: 1.25rem;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.container#skill {
  height: auto;
  width: 100vw;
  display: inherit;
  margin-bottom: 0;
}

.skill-image-container {
  width: 20%;
}

.skill-image {
  width: 110%;
  height: 100%;
}

.skills-links {
  width: 40%;
  height: 80%;
}

.contact {
  padding: 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email {
  text-align: unset;
}

.email a {
  margin: unset;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.event {
  margin: 1%;
  max-width: 48%;
  flex-shrink: 0;
}

.event-detail {
  margin: -40px 40px 20px 40px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-image {
  object-fit: cover;
}
