<section id="contact" class="contact">
  <div class="container--size">
    <div class="contact__email">
      <h3 class="contact__email__title">We create something together?</h3>
      <a href="mailto:elonlegan@gmail.com" class="button--email"
        >Send me an e-mail</a
      >
    </div>
    <div class="social">
      <a
        href="https://twitter.com/elonlegan"
        class="social__link social__link--twitter"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="my twitter"
      ></a>
      <a
        href="https://facebook.com/elonlegan"
        class="social__link social__link--facebook"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="my facebook"
      ></a>
      <a
        href="https://github.com/elonlegan"
        class="social__link social__link--github"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="my github"
      ></a>
      <a
        href="https://instagram.com/elonlegan"
        class="social__link social__link--instagram"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="my instagram"
      ></a>
    </div>
  </div>
</section>
