.contact {
  padding: 1.5em 0;
  background-color: $color-principal;
  color: white;

  &__email {
    text-align: center;
    &__title{
    font-family: "Source Sans Pro", sans-serif;
    }

    &__button {
      margin: 1em auto 1em;
      width: 171px;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px 20px 10px 25px;
      background-image: url(../images/envelope.svg);
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 5px;
      display: block;
      background-color: white;
      color: gray;
      transition-duration: 0.2s;

      &:hover {
        background-image: url(../images/envelope-hover.svg);
        color: var(--color);
        background-color: transparent;
        border-color: var(--color);
      } 
    }
  }
}

