

/*----------------------------------------FOOOTER*/

.footer {
  text-align: center;
  border: 1px solid transparent;
  color: var(--color);
  background-color: var(--background-hero);
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/