.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--background-hero);
  display: inline-block;
  &__text {
    margin: 16px 0;
  }
  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/
