.hero {
  background-color: var(--background-hero);
  box-shadow: inset 0px 4px 7px 0px black;
  transition: 0.3s ease all;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__title{
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: $hero-title-color;
    margin: 0;
    position: relative;
    z-index: 2;
    &__strong{
      color: $color-principal;
    }
  }
}