.portfolio {
  padding: 1.2rem 0;
  &__title{
    color: $color-principal;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 1.2rem 0;
  }
}

.project:last-child {
  margin-bottom: 0;
}

