.portfolio {
  padding: 1.2rem 0;
}

.project,
.event {
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  transition: 0.3s ease all;
}

.project {
  background-color: var(--background-project);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.project:hover {
  box-shadow: 1px 1px 10px 1px var(--principal-color);
  cursor: pointer;
}

.project-title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 0.4em 0;
}

.project-course {
  font-family: var(--font-title);
}

.tech-link {
  margin-right: 5px;
  padding: 0px 3%;
  color: var(--font-color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
}

.project strong {
  font-family: var(--font-title);
  color: var(--principal-color);
}

.project-link {
  color: var(--font-color);
}

.project-link:hover {
  color: var(--principal-color);
}

.project-description {
  font-size: 0.8em;
}

.project-image-container {
  display: flex;
}

.project-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.project:last-child {
  margin-bottom: 0;
}

/*----------------------------------------PROJECTS*/