.skills {
  margin-top: 20px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 33vh;

    .tech-button {
      margin: auto 20px;
    }
  }
  &__image { 
    display: flex;
    margin: 0 auto;
    height: 33vh;
    justify-content: center;

    &__img {
      height: 100%;
    }
  }
}