<footer class="footer">
  <div class="container--size">
    <div>
      <p class="footer__text">
        Curso de Desarrollo web online 2018
        <img src="assets/images/platzi.png" width="80" alt="platzi" />
      </p>
    </div>
    <div>
      <p class="footer__text">
        Designed with ❤️ by
        <a
          href="https://twitter.com/thespianartist"
          target="_blank"
          rel="noopener noreferrer"
        >
          @thespianartist
        </a>
      </p>
    </div>
  </div>
</footer>
