@import "../../../styles.scss";

// @import "layout/footer";
.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--background-hero);
  display: inline-block;
  &__text {
    margin: 16px 0;
  }
  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & img {
    vertical-align: middle;
  }

  & a {
    color: var(--color);
  }
}

/*----------------------------------------FOOOTER*/
