<button
  class="hamburger hamburger--spin"
  type="button"
  id="burger-menu"
  aria-label="burguer menu"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<header class="header">
  <div class="container--size">
    <figure class="logo">
      <img
        class="logo__image"
        src="assets/images/circle-me.png"
        alt="Logo de https://elonlegan.github.io"
      />
      <span class="logo__text">Ángel León</span>
    </figure>
    <nav class="nav nav--header">
      <ol class="nav__list">
        <li>
          <a class="nav__link" href="#portfolio-section">Portfolio</a>
        </li>
        <li class="none">
          <a class="nav__link" href="#events"> experience</a>
        </li>
        <li>
          <a class="nav__link" href="#skills">Skills</a>
        </li>
        <li>
          <a class="nav__link button--header" href="#contact"
            >Let's work together</a
          >
        </li>
        <li class="dark-mode--header">
          <p class="dark-mode__text">Dark Mode</p>
          <button
            class="switch switch--dark-mode"
            aria-label="dark mode button"
          >
            <span></span><span></span>
          </button>
        </li>
      </ol>
    </nav>
  </div>
</header>
