.tech-button {
  margin-right: 5px;
  padding: 0px 3%;
  color: var(--font-color);
  background-color: var(--principal-color);
  border-radius: 10px;
  text-align: center;
  &--js {
    color: #000000;
    background-color: #f7df1e;
  }
  
  &--html {
    color: #ffffff;
    background-color: #ff4500;
  }
  
  &--css {
    color: #ffffff;
    background-color: #1f5faa;
  }
  &--nodejs {
    color: #659a60;
    background-color: #f7f7f7;
    border: 1px solid;
  }
  &--angular {
    color: #fff;
    background-color: #dd0031;
  }
  &--react {
    color: #03d6f6;
    background-color: #232325;
  }
  &--svelte {
    color: #f73c00;
    background-color: #fff;
    border: 1px solid;
  }
  &--vue {
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(0, 179, 123, 1) 0%,
      rgba(45, 70, 92, 1) 100%
    );
  }
}
