
html{
  scroll-behavior: smooth;
}

body {
  font-family: $font-regular;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}

h1 {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: $hero-title-color;
  margin: 0;
  position: relative;
  z-index: 2;
}

h1 strong {
  color: $color-principal;
}
h2 {
  color: $color-principal;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


