
body {
  font-family: $font-regular;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}


h1 {
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

.title {
    color: $color-principal;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 1.2rem 0;
}