---
 const personalImageAlt = "Angel Leon"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
  Hi! I'm a <strong>Full Stack Developer with 2 years of experience</strong>. Throughout my career, I've worked with a variety of technologies including <strong>Angular, React, Express, Nest, and Next</strong>. I am passionate about writing quality code and applying best practices in everything I do.
</p>

<p>
  I've tackled <strong>challenging projects</strong>, which has allowed me to gain valuable skills in <strong>teamwork and problem solving</strong>. I am <strong>dynamic, efficient, and communicative</strong>. I thrive in team environments, always ready to listen and contribute new ideas to achieve project goals.
</p>

<p>
  I am committed to <strong>continuous learning</strong> and approach challenges with a <strong>positive and motivated attitude</strong>. If you're looking for someone who can add value to your development team, don't hesitate to contact me. I am eager to contribute and learn in an enriching work environment.
</p>

  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>