---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
	{
		date: 'July 2023 – July 2025',
		title: 'Frontend Developer',
		company: 'Tekus',
		goals: [
			"Built an Angular component library reducing code repetition by 50% and improving kiosk development speed by 40%.",
			"Delivered a key project in two weeks by focusing scope and meeting client expectations on time.",
		],
	},
	{
		date: 'March 2022',
		title: 'Full stack developer',
		company: 'Leanware',
		goals: [
			"Built a customizable document templates module, reducing preparation time by 80%.",
			"Operated as the sole developer, meeting 100% of project objectives and deadlines.",
			"Improved UI and core workflows, increasing customer satisfaction by ~80%.",
			"Created an event tracking module for notifications/reminders about legislative changes, improving user awareness and efficiency.",
		],
	},
	{
		date: 'May 2021',
		title: 'Full stack developer',
		company: 'Pi Interactiva',
		goals: [
			"Developed an interactive web game that boosted conversion rate by 20%, attracting new users.",
			"Delivered core modules for an application for the Colombian Ministry of Education.",
			"Led the dev team to build an e‑learning platform for ANALDEX, reaching ~95% customer satisfaction.",
		],
	},
];
---

<ol class='relative mt-16'>
	{
		EXPERIENCE.map((experience) => (
			<li class=''>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
