---
const { href } = Astro.props;
---

<a
	target='_blank'
	href={href}
	rel='noopener noreferrer'
	class='inline-flex bg-gray-800 text-white border-gray-600 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition border focus-visible:ring-yellow-500/80 text-md hover:bg-gray-100 hover:text-black hover:border-gray-300 group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black'
>
	<slot />
</a>
