<article class="project">
  <div class="project__details">
    <h3 class="project__title">{{ project.title }}</h3>
    <div class="project__tech" id="{{ project.slug }}">
      <app-skill-pill
        [skill]="skill"
        *ngFor="let skill of project.skills"
      ></app-skill-pill>
    </div>
    <p class="project__date">
      <strong>Date: </strong>
      {{ project.date | date : "shortDate" }}
    </p>
    <p class="project__url">
      <strong>You can see it in:</strong>
      <a
        [href]="project.url"
        class="project__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ project.url }}
      </a>
    </p>
    <p class="project__description">{{ project.description }}</p>
  </div>
  <figure class="project__image__container">
    <img
      class="project__image"
      [src]="project.imageUrl"
      [alt]="project.title + ' project image'"
    />
  </figure>
</article>
