<section>
  <div class="container--size">
    <h2 class="title title--skills">skills</h2>
  </div>
</section>
<section class="skills" id="skills">
  <div class="container--size">
    <div class="skills__container" id="uno">
      <a
        href="https://platzi.com/@elonlegan/curso/1557-git-github/diploma/detalle/"
        class="tech-button--skill"
        id="skill1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Git
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/2008-html-css-2020/diploma/detalle/"
        class="tech-button--skill"
        id="skill2"
        target="_blank"
        rel="noopener noreferrer"
      >
        HTML
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1789-asincronismo-js/diploma/detalle/"
        class="tech-button--skill"
        id="skill6"
        target="_blank"
        rel="noopener noreferrer"
      >
        Asynchronous with JavaScript
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1098-ingenieria/diploma/detalle/"
        class="tech-button--skill"
        id="skill4"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ingeniería de Software
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/1867-devtools/diploma/detalle/"
        class="tech-button--skill"
        id="skill5"
        target="_blank"
        rel="noopener noreferrer"
      >
        Debugging DevTools
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1744-practico-css/diploma/detalle/"
        class="tech-button--skill"
        id="skill3"
        target="_blank"
        rel="noopener noreferrer"
      >
        CSS
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1749-gestion-tiempo/diploma/detalle/"
        class="tech-button--skill"
        id="skill7"
        target="_blank"
        rel="noopener noreferrer"
      >
        Effective Time Management
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/1339-fundamentos-javascript/diploma/detalle/"
        class="tech-button--skill"
        id="skill8"
        target="_blank"
        rel="noopener noreferrer"
      >
        JavaScript
      </a>

      <!-- <a href="#" class="tech-button--skill" id="skill9"> Node.Js </a> -->
    </div>
    <figure class="skills__image">
      <img
        src="assets/images/circle-me.png"
        alt=""
        class="skills__image__img"
      />
    </figure>
    <div class="skills__container" id="dos">
      <a
        href="https://platzi.com/@elonlegan/curso/1807-scope/diploma/detalle/"
        class="tech-button--skill"
        id="skill10"
        target="_blank"
        rel="noopener noreferrer"
      >
        Closures and Scope in Javascript
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/1420-sistemas-diseno/diploma/detalle/"
        class="tech-button--skill"
        id="skill11"
        target="_blank"
        rel="noopener noreferrer"
      >
        Design Systems
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1815-ecmascript-6/diploma/detalle/"
        class="tech-button--skill"
        id="skill12"
        target="_blank"
        rel="noopener noreferrer"
      >
        ECMAScript 6+
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1350-html5-css3/diploma/detalle/"
        class="tech-button--skill"
        id="skill13"
        target="_blank"
        rel="noopener noreferrer"
      >
        Web Development
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/1229-css-grid-layout/diploma/detalle/"
        class="tech-button--skill"
        id="skill14"
        target="_blank"
        rel="noopener noreferrer"
      >
        CSS Grid
      </a>

      <a
        href="https://platzi.com/@elonlegan/ruta/13-idioma-ingles/diploma/detalle/"
        class="tech-button--skill"
        id="skill15"
        target="_blank"
        rel="noopener noreferrer"
      >
        English
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1362-responsive-design/diploma/detalle/"
        class="tech-button--skill"
        id="skill16"
        target="_blank"
        rel="noopener noreferrer"
      >
        Responsive Design
      </a>
      <a
        href="https://platzi.com/@elonlegan/curso/1802-accesibilidad-web/diploma/detalle/"
        class="tech-button--skill"
        id="skill17"
        target="_blank"
        rel="noopener noreferrer"
      >
        Web Accessibility
      </a>

      <a
        href="https://platzi.com/@elonlegan/curso/1798-javascript-navegador/diploma/detalle/"
        class="tech-button--skill"
        id="18"
        target="_blank"
        rel="noopener noreferrer"
      >
        JavaScript Engine (V8)
      </a>
    </div>
  </div>
</section>
