//variables
//generales
$color-principal: #026fff;
$font-title: "Fjalla One", sans-serif;
$font-regular: "Source Sans Pro", sans-serif;

//others
//header variables
$nav-font-color: #fff;
//hero variables
$hero-title-color: #fff;
$hero-strong-title: $color-principal;
//burguer variables
$burger-background: #171717;
$burger-line-color: #fff;

//dark mode variables
:root {
  --background-hero: #1d252c;
  --background-card: #f4fbff;
  --background-project: white;
  --background: #fafafa;
  --box-shadow: 1px 1px 10px 1px lightgrey;
}

:root.dark {
  --background-hero: #252b43;
  --background-card: #252b43;
  --background-project: #252b43;
  --background: #1d2029;
  --font-color: white;
  --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

@mixin card($background: var(--background-card)) {
  background-color: $background;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
}
/* Media Queries Mixin
**********************/

@mixin media($breakpoint) {
  @if $breakpoint == mobile-m {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == desktop-s {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == desktop-m {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == desktop-l {
    @media only screen and (min-width: 1480px) {
      @content;
    }
  } @else if $breakpoint == desktop-xl {
    @media only screen and (min-width: 1780px) {
      @content;
    }
  } @else if $breakpoint == mobile-only {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

* {
  transition-property: background-color, color;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-regular;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

body {
  font-family: $font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}

// @import "components/tech-buttons";
.tech-button {
  padding: 0px 3%;
  color: white;
  background-color: $color-principal;
  border-radius: 10px;
  text-align: center;
}
.tech-button--javascript {
  color: #000000;
  background-color: #f7df1e;
  text-transform: capitalize;
}

.tech-button--html {
  background-color: #ff4500;
  text-transform: uppercase;
}

.tech-button--css {
  background-color: #1f5faa;
}
.tech-button--nodejs {
  color: #659a60;
  background-color: #f7f7f7;
  border: 1px solid;
}
.tech-button--angular {
  background-color: #dd0031;
}
.tech-button--react {
  color: #03d6f6;
  background-color: #232325;
}
.tech-button--svelte {
  color: #f73c00;
  background-color: #fff;
  border: 1px solid;
}
.tech-button--sass {
  color: #fff;
  background-color: #bf608f;
  text-transform: uppercase;
}
.tech-button--php {
  color: #26182e;
  background-color: #7377ad;
  -webkit-text-stroke: 0.1px #fff;
  text-transform: uppercase;
}
.tech-button--vue {
  background: linear-gradient(
    90deg,
    rgba(0, 179, 123, 1) 0%,
    rgba(45, 70, 92, 1) 100%
  );
}
.tech-button--api-rest {
  background-color: #01d849;
}
.tech-button--wordpress {
  background-color: #1f5faa;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 2px #1f5faa;
}

.tech-button--skill {
  @extend .tech-button;
  height: fit-content;
}

// @import "components/tech-buttons";

// @import "components/containers";
%container {
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  color: inherit;
}

.container--link {
  @extend %container;
}

.container--size {
  @extend %container;
  margin: 0 15px;
  max-width: 1024px;
  @include media(desktop-m) {
    margin: 0 auto;
  }
}
// @import "components/containers";

// @import "components/buttons";
%button {
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  opacity: 1;
}

@mixin button-hover($background, $color) {
  &:hover {
    color: $color;
    background-color: $background;
    opacity: 1;
  }
}

.button--header {
  @include media(tablet) {
    @include button-hover(#fff, var(--background-hero));
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    height: initial;
    padding: 10px 20px;
    margin: 14px 0;
  }
}

.button--url {
  @extend %button;
  @include button-hover($color-principal, var(--background));
  padding: 5px 20px;
  color: $color-principal;
}

.button--email {
  @extend %button;
  @include button-hover(transparent, #fff);
  margin: 1em auto 1em;
  width: 171px;
  color: gray;
  padding: 10px 20px 10px 25px;
  background-color: white;
  background-image: url(assets/images/social/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: block;
  color: gray;

  &:hover {
    background-image: url(assets/images/social/envelope-hover.svg);
  }
}
// @import "components/buttons";

// @import "layout/footer";

.none {
  display: none;
}
