//variables
//generales
$color-principal: #026fff;
$font-title: "Fjalla One", sans-serif;
$font-regular: "Source Sans Pro", sans-serif;

//others
//header variables
$nav-font-color: #fff;
//hero variables
$hero-title-color: #fff;
$hero-strong-title: $color-principal;
//burguer variables
$burger-background: #171717;
$burger-line-color: #fff;

//dark mode variables
:root {
  --background-hero: #1d252c;
  --background-card: #f4fbff;
  --background-project: white;
  --background: #fafafa;
  --box-shadow: 1px 1px 10px 1px lightgrey;
}

:root.dark {
  --background-hero: #252b43;
  --background-card: #252b43;
  --background-project: #252b43;
  --background: #1d2029;
  --font-color: white;
  --box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

@mixin card($background: var(--background-card)) {
  background-color: $background;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
}
/* Media Queries Mixin
**********************/

@mixin media($breakpoint) {
  @if $breakpoint == mobile-m {
    @media only screen and (min-width: 375px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == desktop-s {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == desktop-m {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == desktop-l {
    @media only screen and (min-width: 1480px) {
      @content;
    }
  } @else if $breakpoint == desktop-xl {
    @media only screen and (min-width: 1780px) {
      @content;
    }
  } @else if $breakpoint == mobile-only {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

* {
  transition-property: background-color, color;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-regular;
  margin: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

body {
  font-family: $font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
}

.title {
  color: $color-principal;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 0 1.2rem 0;

  @include media(tablet) {
    margin-top: 0.83em;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }

  @include media(desktop-m) {
    margin-left: 20px;
  }
}

// @import "components/burger-buttons";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  outline: none;
  height: 45px;
  border-radius: 50%;
  z-index: 4;
  position: fixed;
  left: 5px;
  top: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: $burger-background;
  border: 0;
  margin: 0;
  overflow: visible;
  @include media(tablet) {
    display: none;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $burger-line-color;
}

.hamburger-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 4px;
  background-color: $burger-line-color;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
// @import "components/burger-buttons";

// @import "components/tech-buttons";
.tech-button {
  padding: 0px 3%;
  color: white;
  background-color: $color-principal;
  border-radius: 10px;
  text-align: center;
}
.tech-button--javascript {
  color: #000000;
  background-color: #f7df1e;
  text-transform: capitalize;
}

.tech-button--html {
  background-color: #ff4500;
  text-transform: uppercase;
}

.tech-button--css {
  background-color: #1f5faa;
}
.tech-button--nodejs {
  color: #659a60;
  background-color: #f7f7f7;
  border: 1px solid;
}
.tech-button--angular {
  background-color: #dd0031;
}
.tech-button--react {
  color: #03d6f6;
  background-color: #232325;
}
.tech-button--svelte {
  color: #f73c00;
  background-color: #fff;
  border: 1px solid;
}
.tech-button--sass {
  color: #fff;
  background-color: #bf608f;
  text-transform: uppercase;
}
.tech-button--php {
  color: #26182e;
  background-color: #7377ad;
  -webkit-text-stroke: 0.1px #fff;
  text-transform: uppercase;
}
.tech-button--vue {
  background: linear-gradient(
    90deg,
    rgba(0, 179, 123, 1) 0%,
    rgba(45, 70, 92, 1) 100%
  );
}
.tech-button--api-rest {
  background-color: #01d849;
}
.tech-button--wordpress {
  background-color: #1f5faa;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 2px #1f5faa;
}

.tech-button--skill {
  @extend .tech-button;
  height: fit-content;
}

// @import "components/tech-buttons";

// @import "components/containers";
%container {
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  color: inherit;
}

.container--link {
  @extend %container;
}

.container--size {
  @extend %container;
  margin: 0 15px;
  max-width: 1024px;
  @include media(desktop-m) {
    margin: 0 auto;
  }
}
// @import "components/containers";

// @import "components/logo";
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__image {
    border-radius: 50%;
    margin: 5px 0;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
  &__text {
    color: white;
    margin-left: 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 24px;
  }
}
// @import "components/logo";

// @import "components/navs";
.nav {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  width: 80vw;
  top: 0;
  bottom: 0;
  left: -100vw;
  display: flex;
  align-items: center;
  z-index: 3;
  background: #171717;
  transition: 0.3s;
  color: $nav-font-color;
  &.is-active {
    left: 0;
  }

  &__list {
    width: 100%;
    @include media(tablet) {
      display: flex;
      height: inherit;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__link {
    align-items: center;
    height: 40px;
    border-bottom: 1px solid;
    font-size: 1.5em;
    padding: 0.5em 0;
    display: flex;
    color: var(--color);
    @include media(tablet) {
      border: none;
      font-size: 1rem;
      display: flex;
      align-items: center;
      height: inherit;
      padding: 0 10px;
      &:hover {
        opacity: 0.7;
        transition-duration: 0s;
      }
    }
  }
  @include media(tablet) {
    box-sizing: initial;
    padding: initial;
    position: initial;
    width: initial;
    display: flex;
    align-items: center;
    background-color: initial;
  }
}

// @import "components/navs";

// @import "components/buttons";
%button {
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.2s;
  opacity: 1;
}

@mixin button-hover($background, $color) {
  &:hover {
    color: $color;
    background-color: $background;
    opacity: 1;
  }
}

.button--header {
  @include media(tablet) {
    @include button-hover(#fff, var(--background-hero));
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    height: initial;
    padding: 10px 20px;
    margin: 14px 0;
  }
}

.button--url {
  @extend %button;
  @include button-hover($color-principal, var(--background));
  padding: 5px 20px;
  color: $color-principal;
}

.button--email {
  @extend %button;
  @include button-hover(transparent, #fff);
  margin: 1em auto 1em;
  width: 171px;
  color: gray;
  padding: 10px 20px 10px 25px;
  background-color: white;
  background-image: url(assets/images/social/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  display: block;
  color: gray;

  &:hover {
    background-image: url(assets/images/social/envelope-hover.svg);
  }
}
// @import "components/buttons";

// @import "components/dark-mode-button";

.dark-mode {
  padding: 0.5em 0;
  font-size: 1.5em;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  &__text {
    margin: 0;
    padding-right: 10px;
  }
}

.dark-mode--header {
  @extend .dark-mode;
  .dark-mode__text {
    @include media(tablet) {
      margin: 0;
      padding: 10px 10px 10px 20px;
      margin-left: 10px;
      border-left: 1px solid;
    }
  }
  @include media(tablet) {
    font-size: 1rem;
    border: none;
  }
}

// @import "components/dark-mode-button";

// @import "components/switches";
.switch {
  background: #5f616d;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 5px;
  width: 80px;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 5px;
    left: 5px;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  &.active::after {
    right: 5px;
    left: unset;
  }

  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
  }
}

.switch--dark-mode.active {
  background-image: linear-gradient(to right, $color-principal 0%, #000 100%);
}

// @import "components/switches";

// @import "components/projects";
.project {
  @include card(var(--background-project));
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;

  &:hover {
    box-shadow: 1px 1px 10px 1px $color-principal;
  }

  &__details {
    @include media(tablet) {
      width: 50%;
    }
  }

  &__title {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
    @include media(tablet) {
      font-size: 30px;
    }
  }

  &__date,
  &__url,
  &__tech {
    margin: 0.4em 0;
    @include media(tablet) {
      margin: 10px 0;
    }
  }

  &__tech {
    font-family: $font-title;
    .tech-button {
      margin-right: 5px;
    }
  }

  strong {
    font-family: $font-title;
    color: $color-principal;
  }

  &__link {
    color: var(--font-color);
    transition: none;
  }

  &__link:hover {
    color: $color-principal;
  }

  &__description {
    font-size: 0.8em;
    @include media(tablet) {
      font-size: 1.25rem;
    }
  }

  &__image__container {
    margin: 0;
    display: flex;
    @include media(tablet) {
      width: 50%;
    }
  }

  &__image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
// @import "components/projects";

// @import "components/social";
.social {
  text-align: center;
  &__link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    &:hover {
      opacity: 0.7;
    }
    &--twitter {
      background-image: url(assets/images/social/twitter.svg);
    }
    &--facebook {
      background-image: url(assets/images/social/facebook.svg);
    }
    &--github {
      background-image: url(assets/images/social/github.svg);
    }
    &--instagram {
      background-image: url(assets/images/social/instagram.svg);
    }
  }
}
// @import "components/social";

// @import "components/events";
.event {
  @include card();
  width: auto;
  flex-shrink: initial;
  margin: 0 0 20px 0;
  border-radius: 10px;
  overflow: hidden;

  &__image-container {
    font-size: 0;
    .event__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  &__detail {
    margin: -40px 20px 0 20px;
    background-color: var(--background);
    position: relative;
    padding: 20px;
    text-align: center;
    @include media(tablet) {
      margin: -40px 40px 20px 40px;
    }
  }

  &__description {
    text-align: left;
  }

  &__url {
    color: $color-principal;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      opacity: 0.7;
    }
  }
  @include media(tablet) {
    margin: 1%;
    max-width: 48%;
    flex-shrink: 0;
  }
}

// @import "components/events";

// @import "components/loader";
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $color-principal; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @import "components/loader";

// @import "layout/header";
.header {
  background-color: var(--background-hero);
  @include media(tablet) {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// @import "layout/header";

// @import "layout/hero";
.hero {
  background-color: var(--background-hero);
  box-shadow: inset 0px 4px 7px 0px black;
  transition: 0.3s ease all;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;

  &__image {
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;

    @include media(desktop-m) {
      position: unset;
    }
  }
  &__title {
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: $hero-title-color;
    margin: 0;
    position: relative;
    z-index: 2;
    &__strong {
      color: $color-principal;
    }
    @include media(mobile-m) {
      font-size: 1.5em;
    }
    @include media(tablet) {
      font-size: 40px;
    }
  }
  @include media(tablet) {
    padding: 2em;
  }
  @include media(desktop-m) {
    height: 300px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: unset;
  }
}
// @import "layout/hero";

// @import "layout/portfolio";
.portfolio {
  padding: 1.2rem 0;
  &__title {
    color: $color-principal;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 1.2rem 0;
    @include media(tablet) {
      margin-top: 0.83em;
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
  }
  @include media(desktop-m) {
    padding: 20px;
  }
}

.project:last-child {
  margin-bottom: 0;
}

// @import "layout/portfolio";

// @import "layout/exp";
.events {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
// @import "layout/exp";

// @import "layout/skills";
.skills {
  margin-top: 20px;
  @include media(tablet) {
    display: flex;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 33vh;

    .tech-button {
      margin: auto 20px;
    }

    @include media(tablet) {
      width: 40%;
      height: 80%;
      margin-top: 10px;
    }
  }
  &__image {
    display: flex;
    margin: 0 auto;
    height: 33vh;
    justify-content: center;
    @include media(tablet) {
      width: 20%;
    }
    @include media(desktop-m) {
      height: unset;
    }

    &__img {
      height: 100%;
      @include media(tablet) {
        width: 110%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
// @import "layout/skills";

// @import "layout/contact";
.contact {
  padding: 1.5em 0;
  background-color: $color-principal;
  color: white;

  &__email {
    text-align: center;
    &__title {
      font-family: "Source Sans Pro", sans-serif;
    }

    .button--email {
      @include media(tablet) {
        margin: unset;
      }
    }
    @include media(tablet) {
      text-align: unset;
    }
  }

  @include media(tablet) {
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// @import "layout/contact";

// @import "layout/footer";
.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--background-hero);
  display: inline-block;
  &__text {
    margin: 16px 0;
  }
  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: var(--color);
}

/*----------------------------------------FOOOTER*/

// @import "layout/footer";

.none {
  display: none;
}
